@model InscricoesOnline.ViewModel.LoginViewModel

@{
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
        <span class="label-input100">E-mail</span>
        @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "input100", @placeholder = "Digite seu e-mail" })
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
        <span class="label-input100">Senha</span>
        @Html.PasswordFor(model => model.Password, new { @class = "input100", placeholder = "Digite sua senha" })
        <span class="focus-input100"></span>
    </div>

    <div class="flex-sb-m w-full p-b-30">
        <div class="contact100-form-checkbox">
            @Html.EditorFor(model => model.RememberMe, new { @class = "input-checkbox100", @id = "ckb1" })
            <label class="label-checkbox100" for="ckb1">
                Continuar conectado
            </label>
        </div>

        <div>

            <a href="@Url.Action("EsqueciMinhaSenha", "Account")" class="txt1">
                Esqueci minha senha?
            </a>
        </div>
    </div>

    <div class="text-alerta text-center" style="margin-bottom: 5px; color: red;">@ViewBag.Erro</div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Login
        </button>
    </div>
}
