@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>
                    <span class="text-muted">/</span>
                    <span class="text-muted"><a class="text-primary" href="@Url.Action("Financeiro", "Relatorios")">Relatórios financeiros</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Extratos</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <i class="fa fa-list"></i> Extratos
                </header>

                <div class="panel-body">

                    <section class="panel panel-info">
                        <header class="panel-heading">
                            <i class="fa fa-filter"></i><strong> Filtros</strong>
                        </header>

                        <div class="panel-body">

                            <input class="none" type="hidden" id="txtFornecedorId" name="fornecedores" readonly="readonly">
                            <input class="none" type="hidden" id="txtCentroCustoId" name="centroCusto" readonly="readonly">
                            <input class="none" type="hidden" id="txtCarteiraId" name="carteira" readonly="readonly">
                            <input class="none" type="hidden" id="txtGrupoContabilId" name="grupoContabil" readonly="readonly">
                            <input class="none" type="hidden" id="txtContaContabilId" name="contaContabil" readonly="readonly">
                            <input class="none" type="hidden" id="txtStatus" name="status" readonly="readonly">

                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label for="txtDataInicio"><span class="text-alerta">*</span> Data vencimento inicial:</label>
                                    <div class="input-group date">
                                        <input class="form-control text-center data" id="txtDataInicio" type="text"/>
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>

                                <div class="form-group col-lg-3">
                                    <label for="txtDataFim"><span class="text-alerta">*</span> Data vencimento final:</label>
                                    <div class="input-group date" id="txtDataFim">
                                        <input class="form-control text-center data" id="txtDataFinal" type="text" />
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="FornecedorId"> Cliente/Fornecedores:</label>
                                <select class="form-control select2-offscreen" id="FornecedorId" name="FornecedorId" multiple>
                                    @foreach (var clienteFornecedor in (IEnumerable<FPTKD.Models.ClienteFornecedor>)ViewBag.FornecedorId)
                                    {
                                        <option value="@clienteFornecedor.Id">
                                            @clienteFornecedor.Nome
                                        </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="CentroCustoId"> Centro de Custo:</label>
                                <select class="form-control select2-offscreen" id="CentroCustoId" name="CentroCustoId" multiple>
                                    @foreach (var centroCusto in (IEnumerable<FPTKD.Models.CentroDeCusto>)ViewBag.CentroCustoId)
                                    {
                                        <option value="@centroCusto.Id">
                                            @centroCusto.Descricao
                                        </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="CarteiraId"> Carteira:</label>
                                <select class="form-control select2-offscreen" id="CarteiraId" name="CarteiraId" multiple>
                                    @foreach (var carteira in (IEnumerable<FPTKD.Models.Carteira>)ViewBag.CarteiraId)
                                    {
                                        <option value="@carteira.Id">
                                            @carteira.Descricao
                                        </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="GrupoContabilId"> Grupo Contabil:</label>
                                <select class="form-control select2-offscreen" id="GrupoContabilId" name="GrupoContabilId" multiple>
                                    @foreach (var grupoContabil in (IEnumerable<FPTKD.Models.GrupoContabil>)ViewBag.GrupoContabilId)
                                    {
                                        <option value="@grupoContabil.Id">
                                            @grupoContabil.Descricao
                                        </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="ContaContabilId"> Conta Contabil:</label>
                                <select class="form-control select2-offscreen" id="ContaContabilId" name="ContaContabilId" multiple>
                                    @foreach (var contaContabil in (IEnumerable<FPTKD.Models.ContaContabil>)ViewBag.ContaContabilId)
                                    {
                                        <option value="@contaContabil.Id">
                                            @contaContabil.Descricao
                                        </option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label> Tipo de relatório:</label>
                                <select class="form-control" id="cbxArquivo" name="cbxArquivo">
                                    <option value="Por Data">Relatório de extrato por data de vencimento</option>
                                    <option value="Por Centro de Custo">Relatório de extrato agrupado por centro de custo</option>
                                    <option value="Por Cliente/Fornecedor">Relatório de extrato agrupado por cliente/fornecedor</option>
                                    <option value="Por Conta Contábil">Relatório de extrato por agrupado conta contábil</option>
                                    <option value="Por Grupo Contábil">Relatório de extrato por agrupado grupo contábil</option>
                                </select>
                            </div>

                            <div class="pad-bot-15 text-center">
                                <button type="button" class="btn btn-primary btn-gerar"><i class="fa fa-search"></i> Buscar registros</button>
                            </div>

                        </div>
                    </section>

                    <div class="pad-bot-15 text-center">
                        <button class="btn btn-pdf"><i class="fa fa-file-pdf-o"></i> PDF</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-excel"><i class="fa fa-file-excel-o"></i> Excel</button>
                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="col-sm-12 table-responsive">
                            <table class="fp-table table table-striped table-bordered table-hover" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th>Código</th>
                                        <th>Cliente</th>
                                        <th>Data</th>
                                        <th class="text-right">Valor</th>
                                        <th>Conta Contabil</th>
                                        <th>Nº Documento</th>
                                        <th>Observação</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $("#FornecedorId").select2();

        $("#FornecedorId").change(function () {
            $("#txtFornecedorId").val("");

            var data = $('#FornecedorId').select2('data')
            var i = 0, ids = "";
            while (typeof data[i] !== 'undefined') {
                if (ids == "")
                    ids += data[i].id;
                else
                    ids += ',' + data[i].id;

                i++;
            }
            $("#txtFornecedorId").val(ids);
        });

        $("#CentroCustoId").select2();

        $("#CentroCustoId").change(function () {
            $("#txtCentroCustoId").val("");

            var data = $('#CentroCustoId').select2('data')
            var i = 0, ids = "";
            while (typeof data[i] !== 'undefined') {
                if (ids == "")
                    ids += data[i].id;
                else
                    ids += ',' + data[i].id;

                i++;
            }
            $("#txtCentroCustoId").val(ids);
        });

        $("#CarteiraId").select2();

        $("#CarteiraId").change(function () {
            $("#txtCarteiraId").val("");

            var data = $('#CarteiraId').select2('data')
            var i = 0, ids = "";
            while (typeof data[i] !== 'undefined') {
                if (ids == "")
                    ids += data[i].id;
                else
                    ids += ',' + data[i].id;

                i++;
            }
            $("#txtCarteiraId").val(ids);
        });

        $("#GrupoContabilId").select2();

        $("#GrupoContabilId").change(function () {
            $("#txtGrupoContabilId").val("");

            var data = $('#GrupoContabilId').select2('data')
            var i = 0, ids = "";
            while (typeof data[i] !== 'undefined') {
                if (ids == "")
                    ids += data[i].id;
                else
                    ids += ',' + data[i].id;

                i++;
            }
            $("#txtGrupoContabilId").val(ids);
        });

        $("#ContaContabilId").select2();

        $("#ContaContabilId").change(function () {
            $("#txtContaContabilId").val("");

            var data = $('#ContaContabilId').select2('data')
            var i = 0, ids = "";
            while (typeof data[i] !== 'undefined') {
                if (ids == "")
                    ids += data[i].id;
                else
                    ids += ',' + data[i].id;

                i++;
            }
            $("#txtContaContabilId").val(ids);
        });

        $(".btn-pdf").click(function () {
            window.location = '/Admin/Relatorios/Financeiro/ContasAPagarDados?tipo=PDF&' +
                'arquivo=' + $("#cbxArquivo").val() + '&' +
                'dataInicio=' + $("#txtDataInicio").val() + '&' +
                'dataFinal=' + $("#txtDataFinal").val() + '&' +
                'carteira=' + $("#txtCarteiraId").val() + '&' +
                'centroDeCusto=' + $("#txtCentroCustoId").val() + '&' +
                'fornecedor=' + $("#txtFornecedorId").val() + '&' +
                'contaContabil=' + $("#txtContaContabilId").val() + '&' +
                'grupoContabil=' + $("#txtGrupoContabilId").val()
        });

        $(".btn-excel").click(function () {
            window.location = '/Admin/Relatorios/Financeiro/ContasAPagarDados?tipo=EXCEL&' +
                'arquivo=' + $("#cbxArquivo").val() + '&' +
                'dataInicio=' + $("#txtDataInicio").val() + '&' +
                'dataFinal=' + $("#txtDataFinal").val() + '&' +
                'carteira=' + $("#txtCarteiraId").val() + '&' +
                'centroDeCusto=' + $("#txtCentroCustoId").val() + '&' +
                'fornecedor=' + $("#txtFornecedorId").val() + '&' +
                'contaContabil=' + $("#txtContaContabilId").val() + '&' +
                'grupoContabil=' + $("#txtGrupoContabilId").val()
        });

        $(".btn-gerar").click(function () {
            $.ajax(
                {
                    type: "POST",
                    url: '/Admin/Relatorios/Financeiro/ContasAPagarDados?' +
                        'arquivo=' + $("#cbxArquivo").val() + '&' +
                        'dataInicio=' + $("#txtDataInicio").val() + '&' +
                        'dataFinal=' + $("#txtDataFinal").val() + '&' +
                        'carteira=' + $("#txtCarteiraId").val() + '&' +
                        'centroDeCusto=' + $("#txtCentroCustoId").val() + '&' +
                        'fornecedor=' + $("#txtFornecedorId").val() + '&' +
                        'contaContabil=' + $("#txtContaContabilId").val() + '&' +
                        'grupoContabil=' + $("#txtGrupoContabilId").val(),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (n) {
                        $("table > tbody").empty();

                        for (var i = 0; i < n.length; i++) {
                            $("<tr>").attr("id", "tr-" + i).appendTo("table > tbody");
                            $("<td>").text(n[i].Id).appendTo("table > tbody > #tr-" + i);
                            $("<td>").text(n[i].Fornecedor).appendTo("table > tbody > #tr-" + i);
                            $("<td>").text(formatDate(n[i].Pagamento)).appendTo("table > tbody > #tr-" + i);
                            $("<td>").text(parseFloat(n[i].ValorPagoExibicao).toFixed(2)).addClass("text-right").appendTo("table > tbody > #tr-" + i);
                            $("<td>").text(n[i].ContaContabil).appendTo("table > tbody > #tr-" + i);
                            $("<td>").text(n[i].NroDocumento).appendTo("table > tbody > #tr-" + i);
                            $("<td>").text(n[i].Observacao).appendTo("table > tbody > #tr-" + i);
                        }
                    },
                })
        });

        function formatDate(dateTime) {
            var date = new Date(parseInt(dateTime.substr(6)));
            var formatted = ("0" + date.getDate()).slice(-2) + "/" +
                ("0" + (date.getMonth() + 1)).slice(-2) + "/" +
                date.getFullYear();
            return formatted;
        }

    </script>
}
