@model InscricoesOnline.ViewModel.CategoriaPesoViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>
                    <span class="text-muted">/</span>
                    <span class="text-muted"><a class="text-primary" href="@Url.Action("Lista", "CategoriaIdade")">Categorias por idade</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Categorias por peso - @Model.CategoriaIdadeTitulo</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <i class="fa fa-list"></i> Lista de Categorias - <strong>@Model.CategoriaLutaPeso.Count() registros</strong>
                </header>
                <div class="panel-body">
                    <div class="pad-bot-15 text-center">
                        <a href="@Url.Action("NovoCategoriaLutaPeso", "CategoriaIdade", new { id = Model.CategoriaIdadeId })" class="btn btn-success"><i class="fa fa-plus-circle"></i> Nova categoria</a>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="fp-table table table-striped table-bordered table-hover academia">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center"> Ações</th>
                                    <th rowspan="2">Título</th>
                                    <th rowspan="2">Sexo</th>
                                    <th colspan="2" class="text-center">Peso</th>
                                    <th rowspan="2" class="text-center">Ativo</th>
                                </tr>
                                <tr>
                                    <th class="text-center">De: </th>
                                    <th class="text-center">Até: </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var categoriPeso in Model.CategoriaLutaPeso)
                                {
                                    <tr>
                                        <td class="text-center col-md-2">
                                            <a class="btn btn-primary btn-circle" href="@Url.Action("EditCategoriaLutaPeso", "CategoriaIdade", new { id = categoriPeso.Id })" data-toggle="tooltip" data-placement="top" title="Editar categoria"><i class="fa fa-pencil"></i></a>
                                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Excluir categoria">
                                                <a class="btn btn-danger btn-circle btn-excluir" href="#" data-href="@Url.Action("DeleteCategoriaLutaPeso", "CategoriaIdade", new { id = categoriPeso.Id })" data-toggle="modal" data-target="#mod-excluir">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td> @Html.DisplayFor(modelItem => categoriPeso.Titulo) </td>
                                        <td> @(categoriPeso.Sexo == "M" ? "Masculino" : "Feminino") </td>
                                        <td class="text-center"> @Html.DisplayFor(modelItem => categoriPeso.PesoInicial)kg </td>
                                        <td class="text-center"> @Html.DisplayFor(modelItem => categoriPeso.PesoFinal)kg </td>
                                        <td class="col-md-1 text-center">
                                            @if (categoriPeso.Ativo)
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Sim" class="fa fa-lg fa-thumbs-up text-success"></i>
                                            }
                                            else
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Não" class="fa fa-lg fa-thumbs-down text-danger"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
