<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incrições Online</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link rel="shortcut icon" href="~/Imagem/favicon-57.png" type="image/x-icon">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <header class="header">
        <div class="center">
            <div class="container">
                <span class="title">Inscrições Online</span>
            </div>
        </div>
    </header>

    <section class="container-fluid">
        @RenderBody()
    </section>

    @*<footer class="footer">
        <div class="container">
            <span class="title">Brazil Open</span>
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>
