@model InscricoesOnline.Models.Filiado

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>
                    <span class="text-muted">/</span>
                    <span class="text-muted"><a class="text-primary" href="@Url.Action("Lista", "Filiados")">Filiados</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted text-capitalize"><a class="text-primary" href="@Url.Action("Visualizar", "Filiados", new { id = Model.Id })">@Model.Nome.ToLower()</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Contatos</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <i class="fa fa-list"></i> Lista de contatos - <strong>@Model.Contatos.Count() registros</strong>
                </header>
                <div class="panel-body">
                    <div class="pad-bot-15 text-center">
                        <a href="@Url.Action("NovoContato", "Filiados", new { id = Model.Id })" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo contato</a>
                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="col-sm-12 table-responsive">
                            <table class="fp-table table table-striped table-bordered table-hover no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting">Ações</th>
                                        <th class="sorting">Contato</th>
                                        <th class="sorting">Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var contato in Model.Contatos)
                                    {
                                        <tr role="row">
                                            <td class="text-center col-md-2">
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("EditarContato", "Filiados", new { idFiliado = Model.Id, idContato = contato.Contato.Id })" data-toggle="tooltip" data-placement="top" title="Editar contato"><i class="fa fa-pencil"></i></a>

                                                <span data-toggle="tooltip" data-placement="top" title="Excluir contato">
                                                    <a class="btn btn-danger btn-circle btn-excluir" href="#" data-href="@Url.Action("DeleteContato", "Filiados", new { idFiliado = Model.Id, idContato = contato.Contato.Id })" data-toggle="modal" data-target="#mod-excluir">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => contato.Contato.Numero) </td>
                                            <td>
                                                @{
                                                    var icon = "fa-phone";
                                                    switch (contato.Contato.TipoContato)
                                                    {
                                                        case "Telefone fixo":
                                                            icon = "fa-phone";
                                                            break;
                                                        case "Telefone Celular":
                                                            icon = "fa-mobile";
                                                            break;
                                                        case "WhatsApp":
                                                            icon = "fa-whatsapp";
                                                            break;
                                                        case "E-mail":
                                                            icon = "fa-envelope";
                                                            break;
                                                        default:
                                                            icon = "fa-phone";
                                                            break;
                                                    }
                                                    <i class="fa @icon fa-fw"></i> @Html.DisplayFor(modelItem => contato.Contato.TipoContato)
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>