@model PagedList.IPagedList<InscricoesOnline.Models.Filiado>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Filiados</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <i class="fa fa-list"></i> Lista de filiados - <strong>@ViewBag.TotalFiliados registros</strong>
                </header>
                <div class="panel-body">
                    <div class="pad-bot-15 text-center">
                        <a href="@Url.Action("Novo", "Filiados")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo filiado</a>
                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="col-sm-12 table-responsive">
                            <table class="fp-table table table-striped table-bordered table-hover no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">Ações</th>
                                        <th>Foto</th>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th class="text-center">Faixa</th>
                                        <th>Academia</th>
                                        <th class="text-center">Ativo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var filiado in Model)
                                    {
                                        <tr role="row">
                                            <td class="text-center col-md-1">
                                                <a class="btn btn-warning btn-circle" href="@Url.Action("Visualizar", "Filiados", new { id = filiado.Id })" data-toggle="tooltip" data-placement="top" title="Visualizar informações do filiado"><i class="fa fa-eye"></i></a>
                                            </td>
                                            <td> <img src="~/Static/Uploads/Admin/Filiados/@(filiado.URLFoto)" style="width: 28px; height: 40px; display:block; margin: 0 auto;"></td>
                                            <td> @Html.DisplayFor(modelItem => filiado.Id) </td>
                                            <td> @Html.DisplayFor(modelItem => filiado.Nome) </td>
                                            <td class="text-center"> @Html.DisplayFor(modelItem => filiado.Faixa.Descricao) </td>
                                            <td> @Html.DisplayFor(modelItem => filiado.Academia.Nome) </td>
                                            <td class="col-md-1 text-center">
                                                @if (filiado.Ativo)
                                                {
                                                    <i data-toggle="tooltip" data-placement="left" title="Sim" class="fa fa-lg fa-thumbs-up text-success"></i>
                                                }
                                                else
                                                {
                                                    <i data-toggle="tooltip" data-placement="left" title="Não" class="fa fa-lg fa-thumbs-down text-danger"></i>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination-container">

                        <ul class="pagination">
                            @if (Model.HasPreviousPage)
                            {
                                <li>@Html.ActionLink("<<", "Lista", new { page = 1, idAcademia = ViewBag.Academia })</li>
                                <li>@Html.ActionLink("<", "Lista", new { page = Model.PageNumber - 1, idAcademia = ViewBag.Academia })</li>
                            }
                            @{
                                int inicio = Model.PageNumber + 2 >= Model.PageCount ? Model.PageCount - 4 : Model.PageNumber - 2;
                                inicio = inicio < 1 ? 1 : inicio;
                                int fim = Model.PageNumber >= 3 ? Model.PageNumber + 2 : Model.PageNumber + 4;
                            }
                            @for (var i = inicio; i <= fim && i <= Model.PageCount; i++)
                            {
                                <li @(i == Model.PageNumber ? "class=active" : "")>
                                    @Html.ActionLink(i.ToString(), "Lista", new { page = i, idAcademia = ViewBag.Academia })
                                </li>
                            }
                            @if (Model.HasNextPage)
                            {
                                <li>@Html.ActionLink(">", "Lista", new { page = Model.PageNumber + 1, idAcademia = ViewBag.Academia })</li>
                                <li>@Html.ActionLink(">>", "Lista", new { page = Model.PageCount, idAcademia = ViewBag.Academia })</li>
                            }
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>