@model IEnumerable<InscricoesOnline.Models.Atleta>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Atletas</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <i class="fa fa-list"></i> Lista de filiados - <strong>@ViewBag.TotalFiliados registros</strong>
                </header>
                <div class="panel-body">
                    <div class="pad-bot-15 text-center">
                        <a href="@Url.Action("Novo", "Atletas")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Novo filiado</a>
                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="col-sm-12 table-responsive">
                            <table class="fp-table table table-striped table-bordered table-hover no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">Ações</th>
                                        <th>Código</th>
                                        <th>Nome</th>
                                        <th class="text-center">Faixa</th>
                                        <th>Equipe</th>
                                        <th class="text-center">Ativo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var atleta in Model)
                                    {
                                        <tr role="row">
                                            <td class="text-center col-md-2">
                                                <a class="btn btn-primary btn-circle" href="@Url.Action("Edit", "Atletas", new { id = atleta.Id })" data-toggle="tooltip" data-placement="top" title="Editar atleta"><i class="fa fa-pencil"></i></a>
                                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Excluir atleta">
                                                    <a class="btn btn-danger btn-circle btn-excluir" href="#" data-href="@Url.Action("Delete", "Atletas", new { id = atleta.Id })" data-toggle="modal" data-target="#mod-excluir">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => atleta.Id) </td>
                                            <td> @Html.DisplayFor(modelItem => atleta.Nome) </td>
                                            <td class="text-center"> @Html.DisplayFor(modelItem => atleta.Faixa.Descricao) </td>
                                            <td> @Html.DisplayFor(modelItem => atleta.Equipe.Nome) </td>
                                            <td class="col-md-1 text-center">
                                                @if (atleta.Ativo)
                                                {
                                                    <i data-toggle="tooltip" data-placement="left" title="Sim" class="fa fa-lg fa-thumbs-up text-success"></i>
                                                }
                                                else
                                                {
                                                    <i data-toggle="tooltip" data-placement="left" title="Não" class="fa fa-lg fa-thumbs-down text-danger"></i>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>