@model InscricoesOnline.ModelView.ContatoViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>
                    <span class="text-muted">/</span>
                    <span class="text-muted"><a class="text-primary" href="@Url.Action("Lista", "Filiados")">Filiados</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted text-capitalize"><a class="text-primary" href="@Url.Action("Visualizar", "Filiados", new { id = Model.Id })">@Model.Nome.ToLower()</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted"><a class="text-primary" href="@Url.Action("Contatos", "Filiados", new { id = Model.Id })">Contatos</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Novo</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">


        <div class="col-lg-12">
            @using (Html.BeginForm("NovoContatoSalvar", "Filiados", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "panel panel-green fv-form fv-form-bootstrap", id = "form-con" }))
            {
                @Html.AntiForgeryToken()

                <header class="panel-heading">
                    <i class="fa fa-file-text-o"></i> Dados cadastrais
                </header>
                <div class="panel-body">
                    <div class="clearfix">
                        <div class="alert alert-danger pull-left">
                            <p>* Campos obrigatórios</p>
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <label for="drpTipo"><span class="text-alerta">*</span> Tipo de contato:</label>
                        @Html.DropDownListFor(model => model.Contato.TipoContato, new SelectList(
                            new System.Collections.Generic.List<object>{
                                new {tipoContato = "Telefone fixo"},
                                new {tipoContato = "Telefone celular"},
                                new {tipoContato = "WhatsApp"},
                                new {tipoContato = "E-mail"}
                            }, "tipoContato", "tipoContato", "Telefone fixo"), new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="txtContato"><span class="text-alerta">*</span> Contato:</label>
                        @Html.EditorFor(model => model.Contato.Numero, new { htmlAttributes = new { @class = "form-control tel", @id = "txtContato", @maxlength = 60 } })
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Cadastrar contato</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>

        $('#form-con').formValidation({
            framework: 'bootstrap',
            err: {
                container: 'tooltip'
            },
            icon: {
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh fa-spin'
            },
            fields: {
                'Contato.Numero': {
                    validators: {
                        notEmpty: {
                            message: 'Campo obrigatório'
                        }
                    }
                }
            }
        }).on('err.field.fv', function (e, data) {
            var $icon = data.element.data('fv.icon'),
                title = $icon.data('bs.tooltip').getTitle();

            $icon.tooltip('destroy').tooltip({
                html: true,
                placement: 'left',
                title: title,
                container: 'body'
            });
        });


    </script>
}