@model InscricoesOnline.ModelView.EventosArbitrosViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>
                    <span class="text-muted">/</span>
                    <span class="text-muted"><a class="text-primary" href="@Url.Action("Lista", "Eventos")">Eventos</a></span>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Novo</span>
                </small>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("ArbitroSalvar", "Eventos", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "panel panel-primary fv-form fv-form-bootstrap", @id = "form-eventos" }))
            {
                @Html.AntiForgeryToken()

                <header class="panel-heading">
                    <i class="fa fa-file-text-o"></i> Árbitros do evento @Model.Evento.Titulo
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <fieldset>
                            <legend class="text-primary pad-top-15">@Model.Evento.Titulo</legend>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Evento.Id)

                            <div class="col-lg-12 form-group add-arbitro">

                                <div class="form-group col-lg-5">
                                    <label for="txtCodFili">Árbitro:</label>
                                    <select class="form-control drpArbitro">
                                        <option></option>
                                        @foreach (var arbitro in (IEnumerable<InscricoesOnline.Models.Arbitro>)ViewBag.Arbitros)
                                        {
                                            <option value="@arbitro.Id">@arbitro.Filiado.Nome</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-lg-6">
                                    <label for="txtCodFili">Academia:</label>
                                    <select class="form-control drpAcademia">
                                        <option></option>
                                        @foreach (var academia in (IEnumerable<InscricoesOnline.Models.Academia>)ViewBag.Academias)
                                        {
                                            <option value="@academia.Id">@academia.Nome</option>
                                        }
                                    </select>
                                </div>

                                <div class="col-lg-1 pad-top-25">
                                    <span class="btn btn-success btn-circle btn-add-arbitro"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>

                            <div id="listaArbitro" class="clearfix">
                                @foreach (var arbitroEvento in Model.ArbitrosEventos)
                                {
                                    <div id="div-@arbitroEvento.ArbitroId" class="col-lg-12 form-group" style="display: block;">

                                        <input class="none" type="hidden" name="txtCodArbitroEvento" value="@arbitroEvento.Id" readonly="readonly">

                                        <div class="form-group listArbitro col-lg-5">
                                            <input class="form-control" type="text" name="txtNomeArbitro" value="@arbitroEvento.Arbitro.Filiado.Nome" readonly="readonly">
                                            <input class="none txtCodArbitro" type="hidden" name="txtCodArbitro" value="@arbitroEvento.ArbitroId" readonly="readonly">
                                        </div>

                                        <div class="form-group col-lg-6">
                                            <select class="form-control drpAcademiaArbitro" data-filiado="@arbitroEvento.Id">
                                                @foreach (var academia in (IEnumerable<InscricoesOnline.Models.Academia>)ViewBag.Academias)
                                                {
                                                    <option value="@academia.Id"
                                                            @(academia.Id == arbitroEvento.AcademiaId ? "selected" : "")>
                                                        @academia.Nome
                                                    </option>
                                                }
                                            </select>
                                            <input class="none txtCodAcademia" type="hidden" data-filiado="@arbitroEvento.Id" name="txtCodAcademia" value="@arbitroEvento.AcademiaId" readonly="readonly">
                                        </div>

                                        <div class="listExcluir col-lg-1">
                                            <span class="btn btn-danger btn-circle excluir-arbitro">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>

                    <div class="panel-footer text-center">
                        <button type="submit" class="btn btn-success" id="submit-arbitro"><i class="fa fa-check-circle"></i> Salvar árbitros</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
