@model IEnumerable<InscricoesOnline.Models.Modalidade>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                <small>
                    <a class="text-primary" href="@Url.Action("Index", "Admin")"><i class="fa fa-home fa-fw"></i>Início</a>

                    <span class="text-muted">/</span>
                    <span class="text-muted">Modalidades</span>
                </small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-info">
                <header class="panel-heading">
                    <i class="fa fa-list"></i> Lista de Modalidades - <strong>@Model.Count() registros</strong>
                </header>
                <div class="panel-body">
                    <div class="pad-bot-15 text-center">
                        <a href="@Url.Action("Novo", "Modalidades")" class="btn btn-success"><i class="fa fa-plus-circle"></i> Nova modalidade</a>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <table class="fp-table table table-striped table-bordered table-hover academia">
                            <thead>
                                <tr>
                                    <th class="text-center">Ações</th>
                                    <th>Título</th>
                                    <th class="text-center">Categoria por idade?</th>
                                    <th class="text-center">Categoria por peso?</th>
                                    <th class="text-center">Categoria por faixa?</th>
                                    <th class="text-center">ParaTaekwondo?</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var modadelidade in Model)
                                {
                                    <tr>
                                        <td class="text-center col-md-2">
                                            <a class="btn btn-primary btn-circle" href="@Url.Action("Edit", "Modalidades", new { id = modadelidade.Id })" data-toggle="tooltip" data-placement="top" title="Editar modalidade"><i class="fa fa-pencil"></i></a>
                                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Excluir modalidade">
                                                <a class="btn btn-danger btn-circle btn-excluir" href="#" data-href="@Url.Action("Delete", "Modalidades", new { id = modadelidade.Id })" data-toggle="modal" data-target="#mod-excluir">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td> @Html.DisplayFor(modelItem => modadelidade.Titulo) </td>
                                        <td class="col-md-1 text-center">
                                            @if (modadelidade.CategoriaIdade)
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Sim" class="fa fa-lg fa-thumbs-up text-success"></i>
                                            }
                                            else
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Não" class="fa fa-lg fa-thumbs-down text-danger"></i>
                                            }
                                        </td>
                                        <td class="col-md-1 text-center">
                                            @if (modadelidade.CategoriaPeso)
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Sim" class="fa fa-lg fa-thumbs-up text-success"></i>
                                            }
                                            else
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Não" class="fa fa-lg fa-thumbs-down text-danger"></i>
                                            }
                                        </td>
                                        <td class="col-md-1 text-center">
                                            @if (modadelidade.CategoriaFaixa)
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Sim" class="fa fa-lg fa-thumbs-up text-success"></i>
                                            }
                                            else
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Não" class="fa fa-lg fa-thumbs-down text-danger"></i>
                                            }
                                        </td>
                                        <td class="col-md-1 text-center">
                                            @if (modadelidade.Parataekwondo)
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Sim" class="fa fa-lg fa-thumbs-up text-success"></i>
                                            }
                                            else
                                            {
                                                <i data-toggle="tooltip" data-placement="left" title="Não" class="fa fa-lg fa-thumbs-down text-danger"></i>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
